.ChatApp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #222;
  color: #fff;
}

.ChatApp-header {
  background-color: #2b2a2a;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 24px
}

.Messages-list {
  padding: 20px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 32px;
  width: 32px;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px -12px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


.Message-content > .username {
  display: block;
  color: rgb(136, 132, 132);
  font-size: 15px;
  padding-bottom: 5px;
}

.Messages-timestamp {
  font-size: 12px;
  color: #888;
  padding-bottom: 5px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #333;
  color: #fff;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #586E5E;}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto 50px;
}

input {
  padding:10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #876151;
  flex-grow: 1;
  color: #fff;
  background-color: #333
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #876151;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
